h1 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px 0;
  font-size: 25px;
}

.notes {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1750px;

  &>.note {
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 250px;
    &>.content{
      min-height: 100px;
      margin-bottom: 0;
     }
    &>.title{
      min-height: 60px;
      line-height: 1.3em;
      font-size: 22px;
      display: flex;
      align-items: center;
    }
    &>.menu--button--ctn{
      width: 100%;
      opacity: 0;
      display: flex;
      justify-content: flex-end;
      transition: 0.5s ease;
      padding-bottom: 10px;
    }
    &>.action--menu--button{
      position: relative;
    }
    &:hover,&:active,&:focus{
      box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.25);
      transition: 0.5s ease;
      &>.menu--button--ctn{
        opacity: 1;
        transition: 0.5s ease;
      }
    }
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .search {
    margin: auto;

  }
  .search > *{
    margin: 0 10px;
  }
}
.add--button{
  position: fixed;
  z-index: 10;
  bottom: 25px;
  right: 25px;
}
.full-width{
  width: 350px;
}
.waitingSpinner{
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:1400px) {
  .note{
    &>.menu--button--ctn{
      opacity: 1!important;
    }
  }
}