h1 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px 0;
  font-size: 25px;
}

.notes {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;

  &>.note {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 0 200px;
    word-break: break-all;

    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      min-height: 45px;

      &:hover {
        color: cadetblue;
      }
    }
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .search {
    margin: auto;
  }

  .results {
    position: absolute;
    top: 29px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
    outline: 2px solid grey;
    scrollbar-width: thin;
    min-width: 341px;
    ul {
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        font-weight: 700;

        &:hover {
          color: cadetblue;
        }
      }
    }
  }
}
