<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>

<h1>Liste de notes</h1>
<hr>


<div class="search-container">
  <section class="search">
    <button routerLink="/add-note">Ajouter une note</button>
    <input type="submit" (ngModelChange)="retrieveResults($event)" name="searchInput" [(ngModel)]="searchInput" type="search"
      placeholder="Chercher une note ...">
  </section>
  <div class="results" *ngIf="searchInput && results.length > 0 ">
    <ul>
      <li *ngFor="let result of results" style="cursor: pointer;" routerLink="/note/{{result.id}}">
        {{result.title}}
      </li>
    </ul>
  </div>
</div>
<hr>




<div class="notes">
  <div class="note" *ngFor="let note of notes" style="cursor: default;" id="note-id-{{note.id}}">
    <h3 style="cursor: pointer;" routerLink="/note/{{note.id}}">{{note.title}}</h3>
    <p>{{note.content}}</p>
  </div>
</div>
