<h1>Liste de notes</h1>

<div class="search-container">
  <form>
    <section class="search">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Rechercher</mat-label>
      <input 
      (ngModelChange)="retrieveResults($event)"name="searchInput" [(ngModel)]="searchInput"
             placeholder="Chercher par titre"
             aria-label="Rechercher"
             matInput
             [formControl]="SearchForm"
             [matAutocomplete]="auto"
             #tooltip="matTooltip"
             matTooltip="Rechercher une note"
             [matTooltipShowDelay]="showDelay.value"
             >
             <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete class="results" #auto="matAutocomplete">
        <mat-option *ngFor="let result of results" [value]="result" routerLink="/note/{{result.id}}">
          {{result.title}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </section>
  </form>
</div>

<div *ngIf="notes.length > 0" class="notes">
  <mat-card class="note" *ngFor="let note of notes" style="cursor: default;" id="note-id-{{note.id}}">
    <mat-card-title class="title" routerLink="/note/{{note.id}}">{{note.title}}</mat-card-title>
    <mat-card-content class="content" routerLink="/note/{{note.id}}">
      <p>{{ note.content | truncate }}</p>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="100" color="primary"></mat-progress-bar>
    </mat-card-footer>
    <div class="menu--button--ctn">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" class="action--menu--button">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
      <mat-menu #menu="matMenu" class="action--menu">
        <button mat-menu-item routerLink="/note/{{note.id}} " #tooltip="matTooltip"
        matTooltip="Modifier la note" [matTooltipShowDelay]="showDelay.value">
          <mat-icon>edit</mat-icon>
          <span>Modifier</span>
        </button>
        <button mat-menu-item (click)="deleteNote(note)" #tooltip="matTooltip"
        matTooltip="Supprimer la note" [matTooltipShowDelay]="showDelay.value">
          <mat-icon>delete</mat-icon>
          <span>Supprimer</span>
        </button>
      </mat-menu>
  </mat-card>  
</div>

<button class="add--button" mat-fab color="primary" routerLink="/add-note">
  <mat-icon>add</mat-icon>
</button>
<div class="waitingSpinner" *ngIf="notes.length === 0">
    <mat-progress-spinner
    class="example-margin"
    color="primary"
    mode="indeterminate">
</mat-progress-spinner>
</div>

