<h1>Liste de notes</h1>

<div class="search-container">
  <form>
    <section class="search">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Rechercher</mat-label>
      <input 
      (ngModelChange)="retrieveResults($event)"name="searchInput" [(ngModel)]="searchInput"
             placeholder="Chercher par titre"
             aria-label="Rechercher"
             matInput
             [formControl]="SearchForm"
             [matAutocomplete]="auto">
             <mat-icon matSuffix>search</mat-icon>
      <mat-autocomplete class="results" #auto="matAutocomplete">
        <mat-option *ngFor="let result of results" [value]="result" routerLink="/note/{{result.id}}">
          {{result.title}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </section>
  </form>
</div>

<div class="notes">
  <mat-card class="note" *ngFor="let note of notes" style="cursor: default;" id="note-id-{{note.id}}">
    <mat-card-title routerLink="/note/{{note.id}}" class="title">{{note.title}}</mat-card-title>
    <mat-card-content class="content">
      <p>{{ note.content }}</p>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button mat-mini-fab color="primary" routerLink="/note/{{note.id}}"><mat-icon>edit</mat-icon></button>
      <button mat-mini-fab color="warn" (click)="deleteNote(note)"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="100" color="primary"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>

<button class="add--button" mat-fab color="primary" routerLink="/add-note">
  <mat-icon>add</mat-icon>
</button>