<div class="ctn">
  <mat-card class="note--card">
  <div style="width: 100%;">
    <div style="width: 100%;">
      <h1 class="title">Nouvelle note</h1>
      <form (ngSubmit)="onSubmit(newNoteForm)" #newNoteForm="ngForm" (keydown)="EnterSubmit($event, newNoteForm)">
        <mat-form-field class="title--input">
          <input required placeholder="Titre" matInput id="title" [(ngModel)]="currentNote.title" name="title">
        </mat-form-field>
        <mat-form-field class="content--input">
          <textarea required placeholder="Texte" matInput type="text" id="content" [(ngModel)]="currentNote.content" name="content"></textarea>
        </mat-form-field>
        <div class="buttons">
          <button mat-mini-fab color="primary" [disabled] = "newNoteForm.invalid" type="submit"><mat-icon>save</mat-icon></button></div>
        <button mat-raised-button routerLink="/notes">Liste des notes</button>
      </form>
    </div>
  </div>
  </mat-card>
  </div>
  