<div>
    <div *ngIf="!submitted">
      <h4>Nouvelle note</h4>
      <form (ngSubmit)="onSubmit(newNoteForm)" #newNoteForm="ngForm">
          <input
            type="text"
            id="title"
            [(ngModel)]="currentNote.title"
            name="title"
            required
            placeholder="Titre"
          />
          <textarea
            type="text"
            id="content"
            [(ngModel)]="currentNote.content"
            name="content"
            required
            placeholder="Note"
          ></textarea>
        <button [disabled] = "newNoteForm.invalid" type="submit">Créer la note</button>
        <button routerLink="/notes">Retourner à la liste des notes</button>
      </form>

    </div>
    <div *ngIf="submitted">
        <button class="btn btn-success" (click)="newNote()">Créer une autre note</button>
    </div>
  </div>
<p>Etat de la publication de la note : <strong>{{ submitted }}</strong></p>
  