<div class="ctn">
<mat-card class="note--card">
<div style="width: 100%;">
  <div style="width: 100%;" *ngIf="currentNote.id">
    <h1 class="title">Note {{currentNote.id}}</h1>
    <form #updateNoteForm="ngForm" (keydown)="EnterSubmit($event, updateNoteForm)">
      <mat-form-field class="title--input">
        <input required placeholder="Titre" matInput id="title" [(ngModel)]="currentNote.title" name="title">
      </mat-form-field>
      <mat-form-field class="content--input">
        <textarea required placeholder="Texte" matInput type="text" id="content" [(ngModel)]="currentNote.content" name="content"></textarea>
      </mat-form-field>
      <div class="buttons">
        <button mat-mini-fab color="warn" (click)="deleteNote()"><mat-icon>delete</mat-icon></button>
        <button mat-mini-fab color="primary" type="submit" (click)="updateNote()" [disabled] = "updateNoteForm.invalid"><mat-icon>save</mat-icon></button></div>
      <button mat-raised-button routerLink="/notes">Liste des notes</button>
    </form>

  </div>
  <div *ngIf="!currentNote.id ">
    <mat-progress-spinner
    class="example-margin"
    color="primary"
    mode="indeterminate">
</mat-progress-spinner>
  </div>
</div>
</mat-card>
</div>