<div>
  <div *ngIf="currentNote.title">
    <h4>Note {{currentNote.id}}</h4>
    <form>
      <label for="title">Titre</label>
      <input type="text" id="title" [(ngModel)]="currentNote.title" name="title" />
      <label for="content">Contenu</label>
      <textarea type="text" id="content" [(ngModel)]="currentNote.content" name="content"></textarea>
      <div>
        <button (click)="deleteNote()">Delete</button>
        <button type="submit" (click)="updateNote()">Update</button></div>
      <button routerLink="/notes">Retourner à la liste des notes</button>
    </form>

  </div>
  <div *ngIf="!currentNote.title ">
    <p>Cette note est inaccessible ...</p>
  </div>
</div>
<p><strong>{{ message }}</strong></p>
